.error-page{
    display: flex;
    width: 100%;
    height: 100vh;
    color: white;
    background-color: black;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    font-size: 1.2em;
}

#main{
    margin: 50px;
    /* color: white; */
    /* font-weight: bold; */
}

#main ul{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

#main ul li{
    /* flex: 1; */
}

.set{
    background-color: #38598b;
    border-radius: 20px;
    height: 200px;
    /* width: 400px; */
    padding: 20px;
    /* margin: 20px; */
    color: white;
    cursor: pointer;
}

.setBullet{
    list-style-type: none;
    padding: 0;
    margin: 0;
}