header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #113f67;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 9999;
    padding: 0 20px;
}

#logo{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content:space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 1.8em;
    color: #e7eaf6;
    cursor: pointer;
    text-decoration: none;
}

#logo img{
    height: 50px;
    /* margin: 0px 8px; */
}

#searchbar{
    border-radius: 20px;
    border: none;
    padding: 15px;
    background-color: #e7eaf6;
    color: var(--text);
    width: 40vw;
    /* border: 1px solid #38598b; */
}

#searchbar::placeholder{
    /* color: #e7eaf6; */
}

#searchbar:focus{
    /* outline: none;
    border: 1px solid #678fcb; */
}

#createButton{
    border: none;
    border-radius: 80px;
    color: var(--text);
    background-color: #e7eaf6;
    padding: 6px 18px;
    font-size: 1em;
    cursor: pointer;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#createButton span{
    margin-left: -6px;
    margin-right: 6px;
    font-size: 1.8em;
}

#createButton:hover{
    /* background-color: var(--bg-dark); */
} 